.prices_ {
  width: 100%;
  font-size: 1rem;
  margin: 150px auto 120px;
  margin-bottom: 0px;
  position: relative;
  background-image: url("../../../../public/assets/img/8.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(17, 17, 17, 0.469), rgba(17, 17, 17, 0.6));
  }

  .wrapper {
    max-width: 1324px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 140px;

    .text_area {
      z-index: 50;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 18px;

      h6 {
        font-weight: 600;
        font-size: 2.4rem;
        color: rgb(255, 255, 255);
      }

      p {
        color: rgba(255, 255, 255, 0.846);
        font-size: 1.1rem;
        line-height: normal;
      }
    }

    .price_cards {
      padding: 10px 40px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 44px;

      .card {
        height: fit-content;
        overflow: hidden;
        background-color: #fdfdfd;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        border: 1px solid black;
        border-radius: 9px;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr auto 0.1fr;
        cursor: pointer;
        transition: all 150ms ease-in-out;

        .card_price_info {
          border-bottom: 1px solid #eedfdf;
          padding: 24px 34px;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .tag {
            font-size: 0.95rem;
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 4px 12px;
            border-radius: 4px;
            width: fit-content;
            background-color: rgb(238, 245, 255);

            .dot {
              width: 7px;
              height: 7px;
              background-color: rgb(0, 0, 0);
              border-radius: 50%;
            }

            p {
              font-weight: 500;
              color: rgb(0, 0, 0);
            }
          }

          .pricing_section {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .pricing_upper {
              display: flex;
              align-items: flex-start;
              gap: 4px;

              .original_pricing {
                color: #7e7e7e;
                text-decoration: line-through;
                font-size: 1rem;
              }

              .dis_percent {
                color: #12801d;
                font-weight: 600;
                font-size: 0.75rem;
              }
            }

            .pricing_lower {
              display: flex;
              gap: 4px;
              align-items: center;
              font-weight: 600;
              font-size: 2rem;

              .symbol {
                color: rgba(0, 0, 0, 0.516);
              }
            }

            .info {
              font-size: 0.85rem;
              color: rgba(0, 0, 0, 0.857);
            }
          }
        }

        &:hover {
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

          .features {
            max-height: fit-content;

            &:nth-child(2) {
              max-height: fit-content;
            }
          }
        }

        .features {
          max-height: 300px;
          overflow: hidden;
          padding: 18px 34px;
          display: flex;
          flex-direction: column;
          gap: 20px;

          &:nth-child(2) {
            overflow: hidden;
            max-height: 320px;
          }

          p {
            font-weight: 600;
            color: black;
            font-size: 0.95rem;
          }

          ul {
            padding-left: 12px;
            display: flex;
            flex-direction: column;
            gap: 18px;

            li {
              display: flex;
              align-items: center;
              gap: 10px;
              font-size: 0.95rem;
              font-weight: 500;
              color: rgba(0, 0, 0, 0.743);

              div {
                width: 18px;
                height: 18px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #86f09d;
                border: 1px solid black;

                img {
                  width: 12px;
                  height: auto;
                }
              }
            }
          }
        }

        .cta_ {
          cursor: pointer;
          border-top: 1px solid #eedfdf;
          display: none;
          align-items: center;
          justify-content: center;
          gap: 24px;
          padding: 20px 34px;
          transition: all 150ms ease-in-out;

          &:hover {
            background-color: #3a3a3a;
            color: white;
          }
        }

        &:nth-child(2) {
          background-color: #fafffc;
          transform: translateY(-60px);
        }
      }
    }
  }
}

/* Mobile devices (small) */
@media (max-width: 480px) {
  .prices_ {
    font-size: 0.95rem;
    margin: 60px auto 40px;
    background-image: none;
    padding: 0;
    &::before {
      display: none;
    }

    .wrapper {
      max-width: 100%;
      padding: 40px 0;
      position: relative;
      background-image: url("../../../../public/assets/img/8_V.JPG.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-attachment: fixed;

      .text_area {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        padding: 0 24px;

        h6 {
          text-align: center;
          font-size: 1.6rem;
          color: rgb(255, 255, 255);
        }

        p {
          display: none;
          font-size: 0.95rem;
        }
      }

      .price_cards {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        gap: 34px;

        .card {
          border: 1px solid rgb(72, 112, 255);
          box-shadow: none;

          .card_price_info {
            padding: 24px 28px;
          }

          .features {
            padding: 18px 28px;
          }

          &:nth-child(2) {
            transform: none; /* Disable the extra elevation for mobile */
          }
        }
      }
    }
  }
}
